
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);

    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    background-image: url(../assets/house-img.jpeg);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

main {
    height: 100%;
    display: flex;
}